<div style="float:right" class="button-group minor-group">
  <a href="{{ site.url }}/pages/aboutus.html" class="button">About Us</a>
  <a href="mailto:support@galahgroup.com" class="button">Contact</a>
</div>

<ul class="credits">
  <li>Thank you <a href="http://pages.github.com/">GitHub Pages</a> for hosting us!</li>
  <li>Layout derived from theme by <a href="https://github.com/orderedlist">orderedlist</a>.</li>
  <li>Like this layout? It's open source! Clone it <a href="https://github.com/galah-group/galah-group">here</a>.</li>
  <li>Copyright 2012 Galah Group LLC</li>
</ul>
