<header id="header">
  <h1>
    <a href="{{ site.url }}/"><img src="{{ site.url }}/images/galah_logo.png" alt="Galah Group"></a>
  </h1>

  <p>We create simple educational software.</p>

  <div class="button-group">
    <a href="https://github.com/galah-group/galah/issues" class="button">Issue Tracker</a>
    <a href="https://github.com/galah-group" class="button">List of Repos</a>
  </div>

  <div class="project-row">
    <div class="project-block highlight">
      <h2>Galah</h2>

      <p>An automated grading system geared towards processing computer programming assignments.</p>

      <div class="button-group">
          <a href="{{ site.url }}/galah/" class="button {{ selected }}">About</a>
          <a href="{{ site.url }}/galah/deployments.html" class="button {{ selected }}">Deployments</a>
          <a href="https://github.com/galah-group/galah" class="button">Source</a>
      </div>
    </div>

    <div class="project-block">
      <h2>API Client</h2>

      <p>A command line utility used for instructor-level and administrative actions for Galah.</p>

      <div class="button-group">
          <a href="{{ site.url }}/api/" class="button">About</a>
          <a href="https://github.com/galah-group/galah-apiclient/wiki" class="button primary_exempt">Docs</a>
          <a href="https://groups.google.com/d/forum/galah-api-client" class="button primary_exempt">Q&amp;A</a>
          <a href="https://github.com/galah-group/galah-apiclient" class="button">Source</a>
      </div>
    </div>
  </div>

  <div class="project-row">
    <div class="project-block">
      <h2>Interact</h2>

      <p>A Python framework used to create test harnesses that automatically grade computer programming assignments.</p>

      <div class="button-group">
          <a href="{{ site.url }}/interact/" class="button">About</a>
          <a href="http://galah-interact.readthedocs.org" class="button primary_exempt">Docs</a>
          <a href="https://groups.google.com/d/forum/galah-interact" class="button primary_exempt">Q&amp;A</a>
          <a href="https://github.com/galah-group/galah-interact-python" class="button">Source</a>
      </div>
    </div>

    <div class="project-block">
      <h2>GG-GPL</h2>

      <p>The Galah Group General Public License is a hybrid commercial/open-source license aimed at server software.</p>

      <div class="button-group">
          <a href="{{ site.url }}/gg-gpl/" class="button">About</a>
          <a href="{{ site.url }}/gg-gpl/text.html" class="button">Text</a>
      </div>
    </div>
  </div>
</header>
